data/GDW_v1_0_gdb/GDW_TechDoc_v1_0.pdf
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000001.gdbindexes
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000001.gdbtable
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000001.gdbtablx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000001.TablesByName.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000002.gdbtable
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000007.gdbtablx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000002.gdbtablx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000003.gdbindexes
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000003.gdbtable
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000003.gdbtablx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000004.CatItemsByPhysicalName.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000004.CatItemsByType.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000004.FDO_UUID.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000004.gdbindexes
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000004.gdbtable
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000004.gdbtablx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000004.spx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000005.CatItemTypesByName.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000005.CatItemTypesByParentTypeID.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000005.CatItemTypesByUUID.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000005.gdbindexes
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000005.gdbtable
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000005.gdbtablx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000006.CatRelsByDestinationID.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000006.CatRelsByOriginID.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000006.CatRelsByType.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000006.FDO_UUID.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000006.gdbindexes
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000006.gdbtable
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000006.gdbtablx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000007.CatRelTypesByBackwardLabel.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000007.CatRelTypesByForwardLabel.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000007.CatRelTypesByName.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000007.CatRelTypesByUUID.atx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000007.gdbindexes
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000007.gdbtable
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000009.gdbindexes
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000009.gdbtable
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000009.gdbtablx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a00000009.spx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a0000000a.gdbindexes
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a0000000a.gdbtable
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a0000000a.gdbtablx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/a0000000a.spx
data/GDW_v1_0_gdb/GDW_v1_0.gdb/gdb
data/GDW_v1_0_gdb/GDW_v1_0.gdb/timestamps
data/GDW_v1_0_shp/GDW_TechDoc_v1_0.pdf
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_barriers_v1_0.cpg
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_barriers_v1_0.dbf
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_barriers_v1_0.prj
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_barriers_v1_0.sbn
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_barriers_v1_0.sbx
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_barriers_v1_0.shp
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_barriers_v1_0.shx
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_barriers_v1_0.txt
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_reservoirs_v1_0.cpg
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_reservoirs_v1_0.dbf
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_reservoirs_v1_0.prj
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_reservoirs_v1_0.sbn
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_reservoirs_v1_0.sbx
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_reservoirs_v1_0.shp
data/GDW_v1_0_shp/GDW_v1_0_shp/GDW_reservoirs_v1_0.shx
Homework4/GDW_Barriers.qmd
Homework4/GDW_reservoir_polygons.qmd
Homework4/GDW_reservoir_polygons.js
Homework5/dams_shortened.qmd
